@charset "utf-8";

:root {
  --run-main-green: #004D40;
  --run-main-yellow: #FFCD29;
  --run-main-gray01: #999999;
}

body {
  font-size: 1.6rem;
  line-height: 1.3;
  color: #222;
  overflow-x: hidden;
}


/*header*/
@keyframes scrollbar {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(16px);
  }
}

#header {
  height: 100vh;
  background: url(../img/main.png) no-repeat center / cover;
}

#header .header_txt {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

#header p {
  color: #fff;
  font-size: 2.0rem;
}

#header h1 {
  padding: 12px 0 36px 0;
  color: #fff;
  font-size: 5.0rem;
  font-weight: 800;
}

#header .scroll {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 100px 0 0;
  text-align: center;
}

#header .scoll_box {
  position: relative;
  width: 32px;
  height: 60px;
  margin: 0 auto;
  border: 1px solid #fff;
  border-radius: 34px;
}

#header .scoll_box::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 8px;
  left: 36%;
  background: #fff;
  border-radius: 50%;
  animation: scrollbar 2s infinite;
}

#header .scroll span {
  color: #fff;
  font-weight: 500;
}

@media (max-width: 768px) {
  #header {
    padding: 0 16px 0;
    height: 100vh;
    background: url(../img/main_bg_m.jpg) no-repeat center / cover;
  }

  #header p {
    font-size: 1.6rem;
    word-break: keep-all;
  }

  #header h1 {
    display: block;
    width: 100%;
    font-size: 3.6rem;
    word-break: keep-all;
  }

  #header .header_txt {
    width: 100%;
    position: absolute;
    top: 16%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
  }

  #header .header_txt img {
    margin: 0 auto;
    width: 50%;
  }
}

/*tab*/
.tab_ico {
  animation: tab 3s linear infinite;

}

#tab {
  margin: 100px auto 0;
  text-align: center;
}

.tab_ico ul {
  display: flex;
  justify-content: center;
  gap: 130px;
}

.tab_ico li {
  color: var(--run-main-gray01);
  font-weight: 600;
  font-size: 2.0rem;
  cursor: pointer;
}

.tab_ico li object {
  width: 48px;
  height: 48px;
}

.tab_ico li span {
  display: block;
  padding: 16px 0 0;
}

.on {
  color: var(--run-main-green);
}

.tab_list {
  padding: 0 0 100px;
}

.tab_list h2 {
  padding: 80px 0 20px;
  font-size: 6.0rem;
  font-weight: 800;
}

.tab_list p {
  padding: 0 0 48px;
  color: var(--run-main-gray01);
  font-size: 2.0rem;
  font-weight: 500;
}

@media(max-width:1260px) {
  .tab_ico ul {
    gap: 80px;
  }
}

@media (max-width: 768px) {
  #tab {
    margin: 32px auto 0;
    text-align: center;
  }

  .tab_ico ul {
    display: flex;
    justify-content: center;
    gap: 0;
  }

  .tab_ico li {
    font-weight: 500;
    font-size: 1.4rem;
    width: calc(100% / 5);
  }

  .tab_ico li svg {
    width: 24px;
    height: 24px;
  }

  .tab_list {
    padding: 0 0 60px;
  }

  .tab_list>div {
    padding: 0 24px 0;
  }

  .tab_list h2 {
    padding: 60px 0 20px;
    font-size: 3.0rem;
    font-weight: 800;
  }

  .tab_list p {
    padding: 0 0 32px;
    font-size: 1.6rem;
    word-break: keep-all;
  }

  .tab_list img {
    width: 60%;
  }
}

/*mean*/
#mean {
  padding: 160px 200px;
  text-align: center;
  background: url(../img/mean.png) no-repeat center / cover;
}

#mean h2 {
  color: #fff;
  font-size: 5.0rem;
  font-family: 600;
}

#mean p {
  padding: 30px 0 250px;
  color: var(--run-main-gray01);
  font-size: 2.4rem;
}

#mean ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

#mean ul li {
  position: relative;
  width: calc((100% - 100px) / 3);
  color: #fff;
  font-size: 2.4rem;
}

#mean ul li:first-child::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  background: url(../img/mean_ico01.png) no-repeat center / cover;
  transform: translateX(-50%);
}

#mean ul li:nth-child(2)::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  background: url(../img/mean_ico02.png) no-repeat center / cover;
  transform: translateX(-50%);
}

#mean ul li:nth-child(3)::after {
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  background: url(../img/mean_ico03.png) no-repeat center / cover;
  transform: translateX(-50%);
}

@media (max-width: 910px) {
  #mean {
    padding: 80px 16px;
  }

  #mean h2 {
    font-size: 2.4rem;
    font-family: 600;
  }

  #mean p {
    padding: 20px 0 0;
    font-size: 1.4rem;
  }

  #mean ul {
    margin: 100px auto 0;
    gap: 20px;
  }

  #mean ul li {
    font-size: 1.4rem;
  }

  #mean ul li:first-child::after {
    width: 48px;
    height: 48px;
    bottom: 30px;
  }

  #mean ul li:nth-child(2)::after {
    width: 48px;
    height: 48px;
    bottom: 30px;
  }

  #mean ul li:nth-child(3)::after {
    width: 48px;
    height: 48px;
    bottom: 30px;
  }
}

/*sub*/
#sub {
  padding: 200px 200px 0;
}

#sub h2 {
  padding: 0 0 20px;
  font-size: 6.0rem;
  font-weight: 800;
  word-break: keep-all;
}

#sub p {
  color: var(--run-main-gray01);
  font-size: 2.0rem;
  font-weight: 500;
  word-break: keep-all;
}

#sub>div {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 200px;
}

#sub .left {
  width: 50%;
  margin: 0 auto;
}

#sub .right {
  width: 50%;
  margin: 0 auto;
}

#sub .spark .left {
  background-image: url(../img/battery01.png), url(../img/battery02.png), url(../img/battery03.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: 0 312px, 100px 456px, 200px 596px;
}

#sub .route {
  position: relative;
}

#sub .route>img {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 300px;
}

#sub .music {
  background-image: url(../img/spotify.png), url(../img/applemusic.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top 200px right 0px, top 600px right 400px;
}

#sub .music .right img {
  display: block;
  margin: 100px 0 0;
  box-shadow: 0 0 16px 0 rgba(0 0 0 / 10%);
  border-radius: 20px;
}

@media (max-width: 1400px) {
  #sub {
    padding: 200px 100px 0;
    justify-content: space-between;
  }

  #sub>div {
    gap: 40px;
  }

  #sub .left {
    width: calc((100% - 40px) / 2);
  }

  #sub .right {
    width: calc((100% - 40px) / 2);
  }

  #sub>div {
    padding-bottom: 160px;
  }

  #sub img {
    width: 100%;
  }

  #sub .route>img {
    display: none;
  }
}

@media(max-width: 1260px) {
  #sub .music {
    background-position: top 200px right 0px, top 600px right 300px;
  }
}

@media (max-width: 1050px) {
  #sub h2 {
    font-size: 4.0rem;
  }

  #sub p {
    font-size: 1.6rem;
  }

  #sub .spark .left {
    background-image: url(../img/battery02.png), url(../img/battery03.png);
    background-repeat: no-repeat, no-repeat;
    background-position: 0 300px, 100px 400px;
  }

  #sub .music {
    background-position: top 200px right 0px, top 440px right 240px;
  }
}

@media(max-width: 860px) {
  #sub br {
    display: none;
  }

  #sub .music {
    background-position: top 200px right 0px, top 440px right 160px;
  }
}

@media (max-width: 768px) {
  #sub {
    padding: 60px 16px 0;
  }

  #sub br {
    display: block;
  }

  #sub>div {
    padding-bottom: 80px;
  }

  #sub>div>div {
    text-align: center;
  }

  #sub h2 {
    padding: 0 0 20px;
    font-size: 3.0rem;
    font-weight: 800;
  }

  #sub p {
    padding-bottom: 20px;
    color: var(--run-main-gray01);
    font-size: 1.6rem;
    font-weight: 500;
  }

  #sub>div {
    gap: 0;
  }

  #sub .left {
    width: 100%;
  }

  #sub .right {
    width: 100%;
  }

  #sub img {
    width: 60%;
  }

  #sub .route .right {
    order: 1;
  }

  #sub .route .left {
    order: 2;
  }

  #sub .music .right {
    order: 1;
  }

  #sub .music {
    background-image: none;
  }

  #sub .music .right img {
    display: none;
  }

  #sub .music .left {
    order: 2;
  }
}

/*footer*/
#footer {
  position: relative;
  background: #222;
  text-align: center;
  padding: 160px 0 120px;
}

#footer li a {
  display: block;
}

#footer p {
  color: var(--run-main-gray01);
  font-weight: 500;
}

#footer ul {
  display: flex;
  padding: 80px 0;
  justify-content: center;
  gap: 20px;
}

#footer ul li {
  width: 136px;
  height: 52px;
  background: #373737;
  border-radius: 10px;
}

#footer a {
  display: block;
  padding: 12px;
}

#footer a img {
  height: 100%;
}

#footer ul li:nth-child(1) a {
  padding: 18px 15px;
}

#footer ul li:nth-child(2) a {
  padding: 14px;
}

#footer .go_top {
  position: fixed;
  bottom: 10%;
  right: 2%;
  width: 80px;
  height: 80px;
  background: url(../img/go-top.png) center / cover;
  z-index: 5;
  cursor: pointer;
  opacity: 0;
  transition: 0.7s ease;
}

#footer .go_top.on {
  opacity: 1;
}

@media (max-width: 768px) {
  #footer {
    padding: 60px 24px 60px;
  }

  #footer h1 img {
    width: 30%;
  }

  #footer ul {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
    margin: 0 auto;
  }

  #footer p {
    padding: 0 24px 0;
    color: var(--run-main-gray01);
    font-size: 1.4rem;
    font-weight: 500;
    word-break: keep-all;
  }

  #footer p br {
    display: none;
  }

  #footer .go_top {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 500px) {
  #footer .go_top {
    width: 60px;
    height: 60px;
  }
}
